*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:"SF Pro", ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container1{
  margin: 0 auto;
    width: 80%;
    /* margin-inline: center; */
    text-align: center;
    /* border:thin solid red; */
    background-color: #FCF4EE;
    padding: 0rem 0rem 10rem 0rem;
}

.container2{
    margin: 0 auto;
    width: 80%;
    /* margin-inline: center; */
    text-align: center;
    /* border:thin solid red; */
    background-color: #FCF4EE;
    padding: 0rem 0rem 0rem 0;
}

.sub-container{
    width:13.8%;
    align-content: center;
    margin: 0 auto;
    /* border:thin solid red; */
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    height: 10vh;
}

.logotext{
    /* border: thin solid blue; */
    text-align: justify;
}
.logotext p{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
}
.formsec{
    width:50%;
    align-content: center;
    margin: 0 auto;
    /* border:thin solid red; */
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #FEFBF9;
    padding: 2.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formsec h2{
    color: #384A62;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0.8rem;
    text-align: justify;
    margin-top: 4rem;
  }
  
  .formsec p{
    color: #506683;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
    margin-bottom: 3rem;
    text-align: justify;
  }
  .formsec p .p1{
    color: #506683;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
  }
 
    .formcat {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem;
    text-align: justify;
  }
  
  .inputbox {
    flex: 1;
    
  }

  .inputbox label {
    display: block;
    font-size: 1em;
    color: #384A62;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 5px;
  }
  
  .inputbox input {
    width: 85%;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
    
  }
  
  /* Form Footer Styling */
  .formbase {
    display: flex;
    /* justify-content: space-between; */
    gap: 15rem;
    text-align: center;

  }
  .formbase button{
    align-items: end;
    margin-top: 1rem;
  }
  
  .formbase p {
    color: #384A62;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .formbase a {
    color: #D77F81;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
  }
  
  .formbase a:hover {
    text-decoration: underline;
  }
  
  .submit-btn {
    padding: 1rem;
    width: 24%;
    background-color: #384A62;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
    /* transition: background-color 0.3s; */
  }
  
  .submit-btn:hover {
    /* background-color: #555; */
  }
  .formemptybox{
    margin: 0 auto;
    width: 80%;
    /* margin-inline: center; */
    text-align: center;
    /* border:thin solid red; */
    background-color: #FCF4EE;
    padding: 0rem 0rem 46rem 0rem;
  }
  
